Program ot calculate Arithmatic Operators

In [3]:
a=int(input('Enter value of a'))
b=int(input('Enter value of b'))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter value of a8
Enter value of b5
13
3
40
1.6
3
32768
1

Program to calculate Area of Circle

In [1]:
r=int(input('Enter radius'))
area=3.14*r*r
print(area,type(area))

Enter radius4
50.24 <class 'float'>

Program to calculate Simple Intrest

In [5]:
p=5
t=3
r=4
print(p*t*r/100)

0.6

Program to calculate area of Triangle

In [6]:
b=int(input('Enter base of the triangle'))
h=int(input('Enter height of the triangle'))
area=b*h/2
print(area)

Enter base of the triangle4
Enter height of the triangle5
10.0

Program to temperature in Celsius to Fahrenheit

In [7]:
c=int(input('Enter temperature in celcius'))
f=c*9/5+32
print(f,type(f))

Enter temperature in celcius40
104.0 <class 'float'>

Program to calculate Area of Rectangle

In [8]:
length=int(input('enter value of length'))
breadth=int(input('enter value of breadth'))
area=length*breadth
print(area)

enter value of length9
enter value of breadth5
45

Program to Calculate Perimeter of a Square

In [11]:
s=int(input('Enter value of side'))
p=4*s
print(p)

Enter value of side10
40

Program to calculate Circumference of a circle

In [12]:
r=int(input('Enter radius'))
c=2*3.14*r
print('circumference of the circle',c)

Enter radius7
circumference of the circle 43.96

Program to swap two Numbers

In [16]:
x=9
y=4
x,y=y,x
#temp=x
#=y
#y=temp
print('value of x:',x)
print('value of y:',y)

value of x: 4
value of y: 9