1. Write a Python program to get the largest and smallest number from the list.

In [42]:
list1=input('Enter a list:')
l1=list1.split(",")
print('My list is:',l1)
for i in range(len(l1)):
  l1[i]=int(l1[i])
print(l1)
max(l1) 
min(l1)

Enter a list:22,43,16,30,12
My list is: ['22', '43', '16', '30', '12']
[22, 43, 16, 30, 12]

12

2. Write a python program to print a specified after removing the 0th, 4th, and 5th elements.

In [66]:
list1=input('Enter a list:')
mylist=list1.split(",")
print('mylist is:',mylist)
mylist.remove(mylist[0])
print('mylist after removing 0th element:',mylist)
mylist.remove(mylist[3])
print('mylist after removing 4th element:',mylist)
mylist.remove(mylist[3])
print('mylist after removing 5th element:',mylist)
print('My list after deleting 0th,4th and 5th elements is:',mylist)

Enter a list:2,5,4,3,9,8,1
mylist is: ['2', '5', '4', '3', '9', '8', '1']
mylist after removing 0th element: ['5', '4', '3', '9', '8', '1']
mylist after removing 4th element: ['5', '4', '3', '8', '1']
mylist after removing 5th element: ['5', '4', '3', '1']
My list after deleting 0th,4th and 5th elements is: ['5', '4', '3', '1']

3. Write a python program to get the difference between the two lists.

In [73]:
a=input('enter 1st list:')
b=input('enter 2nd list:')
a=a.split(",")
b=b.split(",")
for i in range(len(a)):
  a[i]=int(a[i])
print(a)
for i in range(len(b)):
  b[i]=int(b[i])
print(b)
diff_a_b=list(set(a)-set(b))
diff_b_a=list(set(b)-set(a))
total_diff=diff_a_b + diff_b_a
print('difference of two lists a and b is:',total_diff)

enter 1st list:2,4,6,8,10,3
enter 2nd list:3,6,15,1,4,2
[2, 4, 6, 8, 10, 3]
[3, 6, 15, 1, 4, 2]
difference of two lists a and b is: [8, 10, 1, 15]

4. Write a python program to shuffle and print a specified list.

In [45]:
import random
a=input('original list:')
a1=a.split(",")
print(a1)
for i in range(len(a1)):
  a1[i]=int(a1[i])
print(a1)
random.shuffle(a1)
print('shuffled list is:',a1)

original list:4,8,10,2,5
['4', '8', '10', '2', '5']
[4, 8, 10, 2, 5]
shuffled list is: [10, 2, 5, 4, 8]

5. Write a python program to print the numbers of a specified list after removing even numbers from it.

In [77]:
x1=input('Enter a list:')
x=x1.split(",")
print(x)
for i in range(len(x)):
  x[i]=int(x[i])
print(x)
for i in x:
  if i%2==0:
    x.remove(i)
print('List after removing even numbers:',x)

Enter a list:2,5,8,10,3
['2', '5', '8', '10', '3']
[2, 5, 8, 10, 3]
List after removing even numbers: [5, 10, 3]

6. Write a python program to copy a list.

In [79]:
p1=input('Enter a list:')
p=p1.split(",")
print(p)
for i in range(len(p)):
  p[i]=int(p[i])
print('Original list:',p)
new_list=list(p)
print('new_list',new_list)

Enter a list:10,22,30,15,5
['10', '22', '30', '15', '5']
Original list: [10, 22, 30, 15, 5]
new_list [10, 22, 30, 15, 5]

7. Python program to check a list is empty or not.

In [84]:
s=[]
if len(s)==0:
  print('List s is empty')
else:
  print('List s is not empty')

List s is empty

8. Write a python program to remove duplicates from a list.

In [111]:
y1=input('Enter list elements:')
y=y1.split(",")
print(y)
for i in range(len(y)):
  y[i]=int(y[i])
print('my list:',y)
print(y[0])
for i in range(y[1],len(y)):
  if y[i]!= y[i-1]:
    print(y[i])

Enter list elements:2,3,2,4,3,5
['2', '3', '2', '4', '3', '5']
my list: [2, 3, 2, 4, 3, 5]
2
4
3
5