1. Python program to create a tuple with different data types.

In [4]:
t1=(3,5)
t2=(7.4,)
t3=tuple('college')
print(t1,type(t1),t2,type(t2),t3,type(t3))
t=(3,7.4,'college',True)
print('Tuple with different datatypes:',t)

(3, 5) <class 'tuple'> (7.4,) <class 'tuple'> ('c', 'o', 'l', 'l', 'e', 'g', 'e') <class 'tuple'>
Tuple with different datatypes: (3, 7.4, 'college', True)

2. Python program to convert a tuple to a string.

In [10]:
a=('h','e','l','l','o')
print('tuple:',a)
b=''.join(a)
print('tuple into string:',b)

tuple: ('h', 'e', 'l', 'l', 'o')
tuple into string: hello

3. Python program to create a tuple.

In [12]:
s=input('Enter a string:')
s1=tuple(s)
print('tuple:',s1)

Enter a string:Hello Everyone
tuple: ('H', 'e', 'l', 'l', 'o', ' ', 'E', 'v', 'e', 'r', 'y', 'o', 'n', 'e')

4. Python program to slice a tuple.

In [16]:
a=input('Enter a string:')
a1=tuple(a)
print('tuple:',a1)
a2=a1[8:]
print('After slicing',a2)

Enter a string:Hey How are you there?
tuple: ('H', 'e', 'y', ' ', 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ', 't', 'h', 'e', 'r', 'e', '?')
After slicing ('a', 'r', 'e', ' ', 'y', 'o', 'u', ' ', 't', 'h', 'e', 'r', 'e', '?')

5. Python program to find length of a tuple.

In [24]:
t=input('Enter string t:')
t1=tuple(t)
print('tuple:',t1)
t2=(len(t1))
print('Length of tuple:',t2)

Enter string t:Welcome
tuple: ('W', 'e', 'l', 'c', 'o', 'm', 'e')
Length of tuple: 7

6. Python program to reverse a tuple.

In [26]:
a=input('Enter a string')
a1=tuple(a)
print('original tuple:',a1)
a2=a1[-1: :-1]
print('reversed tuple:',a2)

Enter a stringAishwarya
original tuple: ('A', 'i', 's', 'h', 'w', 'a', 'r', 'y', 'a')
reversed tuple: ('a', 'y', 'r', 'a', 'w', 'h', 's', 'i', 'A')

7. Python program to convert list into tuple.

In [33]:
l1=input('Enter a string:')
l2=l1.split( )
print('My_list:',l2)
t1=tuple(l2)
print('My_list to tuple conversion:',t1)

Enter a string:Congrats to You
My_list: ['Congrats', 'to', 'You']
My_list to tuple conversion: ('Congrats', 'to', 'You')

8. Python program to convert list of tuples into a dictionary.

In [42]:
sub=input('Enter subject:')
marks=input('Enter marks:')
s=list(s)
m=list(m)
print('List of subjects:',s)
print('List of marks obtained for each subject:',m)
t1=tuple(s)
print('sub in tuple:',t1)
t2=tuple(m)
print('marks in tuple:',t2)
d1=dict(zip(t1,t2))
print('Tuple into dictionary:',d1)

Enter subject:math,eng,phy,chem
Enter marks:90,85,84,94
List of subjects: ['math,eng,phy,chem']
List of marks obtained for each subject: ['88,80,90,95']
sub in tuple: ('math,eng,phy,chem',)
marks in tuple: ('88,80,90,95',)
Tuple into dictionary: {'math,eng,phy,chem': '88,80,90,95'}

9. Python to convert a tuple into dictionary.

In [39]:
key_tuple=('Jan','Feb','Mar','Apr','May')
value_tuple=(1,2,3,4,5)
print('key_tuple:',key_tuple)
print('value_tuple:',value_tuple)
d=dict(zip(key_tuple,value_tuple))
print('Dictionary converted from tuples:',d)

key_tuple: ('Jan', 'Feb', 'Mar', 'Apr', 'May')
value_tuple: (1, 2, 3, 4, 5)
Dictionary converted from tuples: {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5}